/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
----*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{background:'';background:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
* { box-sizing: border-box; padding:0; margin: 0; }
.kipulogo img {
    position: absolute;
    left: 5%;
    top: 5%;
}

.login-body h2{
	    font-weight: 300;
    color: #333;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    padding: 20px 30px 5px 30px;
	
}
.main  .login-body {
    margin-top: 20px;
    background: #fff;
}
body {
	font-family: 'Open Sans', sans-serif;
 	background:url(images/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	background-size: 100% 100%;
}
.main{
	margin:13em auto 0;
	width: 22%;
}
form {
    background: #ffffff;
    position: relative;
}

form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  top:0;
}

form:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
 padding:20px; 
  border-top:0px solid #000;
}

form h1{
  text-align:center;
  padding:18px 0;
  border-bottom:1px solid #000;
  position:relative;
}
form h1:after {
 content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
 -webkit-transform: rotate(70deg);
 background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}

form h1  {
	color:#fff;
	text-shadow:0 1px 0 #000;
	font-size:18px;
	font-weight: 600;
	text-align:center;
  padding:18px 0;
  border-bottom:1px solid #000;
  position:relative;
	
}
form h1 span{
	padding:5px;
	background:#0184ff;
}
label {
 	color:rgba(137, 192, 243, 0.8);
  	display:block;
  	font-size:13px;
  	padding-bottom:9px;
}





input[type=text], input[type=password] {
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    padding: 8px 12px;
    height: 35px;
    font-size: 14px;
    color: #555;
    width: 100%;
    border: 1px solid #ccc;
}

label[for=remember]{
 	color:#fff;
  	display:inline-block;
  	font-size: 13px;
}

input[type=checkbox] {
 	display:inline-block;
  	vertical-align:middle;
}

.p-container {
 	padding:0 20px 20px 20px; 
}

.p-container:after {
 	clear:both;
  display:table;
  content:"";
}

.p-container span a {
  font-size:14px;
  display:block;
  float:left;
  color:#0d93ff;
  padding-top: 4px;
}

input[type=submit] {
 	
	    color: #fff;
    float: right;
    font-weight: normal;
    cursor: pointer;
    font-size: 21px;
    outline: none;
    background: #1e74c5;
    border: solid 1px #1e74c5;
    font-family: 'Poiret One', cursive;
	    padding: 6px 24px 8px;
}

input[type=submit]:hover {
    color: #fff;
    float: right;
    font-weight: normal;
    cursor: pointer;
    font-size: 21px;
    outline: none;
    background: #1e74c5;
    border: solid 1px #1e74c5;
    font-family: 'Poiret One', cursive;
	    padding: 6px 24px 8px;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
	padding:6em 0;
}
.copy-right p a {
	font-size:1em;
	font-weight:600;
	color:#061A3D;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
/**//end-copy-right**/
/*----start-responsive design-----*/
@media only screen and (max-width:1680px) {
	.main{
	margin:15em auto 0;
	}
	.copy-right p {
	padding: 0em 0;
	}
}
@media only screen and (max-width:1440px)  {
	.main{
	margin:11em auto 0;
	width:24%;
	}
	.copy-right p {
	padding:3em 0;
	}
}
@media only screen and (max-width:1366px) {
	.main{
	margin:10em auto 0;
	width:25%;
	}
	.copy-right p {
	padding:3.5em 0;
	}
}
@media only screen and (max-width:1280px) {
	.main{
	margin:11em auto 0;
	width: 27%;
	}
	.copy-right p {
	padding:4.3em 0;
	}
}
@media only screen and (max-width:1024px)  {
	.main{
	margin:12em auto 0;
	width:33%;
	}
	.copy-right p {
	padding:6em 0;
	}
}
@media only screen and (max-width:768px) {
	.main{
	margin: 14em auto 0;
	width: 43%;
	}
	.copy-right p {
	padding:6em 0;
	}
}
@media only screen and (max-width:640px) {
	.main{
	margin:14em auto 0;
	width:51%;
	}
	.copy-right p {
	padding:6em 0;
	}
}
@media only screen and (max-width:480px)  {
	.main{
	margin: 12em auto 0;
	width: 68%;
	}
	.copy-right p {
	padding:6em 0;
	}
}
@media only screen and (max-width:320px) {
	.main{
	margin:7em auto 0;
	width:96%;
	}
	.copy-right p {
	padding:1em 0;
	}
}

/*----//end-responsive design-----*/